<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a routerLink="/" routerLinkActive="active" class="nav-link link-body-emphasis px-2 active"
                    aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/shopping-cart" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Shopping
                    Cart</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Login</a></li>
        </ul>
    </div>
</nav>