<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input [(ngModel)]="product.title" id="title" name="title" #title="ngModel" type="text"
                    class="form-control" required>
            </div>
            <div *ngIf="title.invalid && (title.dirty || title.touched)">
                <div class="alert alert-danger" *ngIf="title.errors?.['required']">Title is required.</div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input [(ngModel)]="product.price" id="price" name="price" [min]="0" #price="ngModel" type="number"
                        class="form-control" aria-label="Amount (to the nearest dollar)" required
                        pattern="^\d+(\.\d{1,2})?$">
                </div>
                <div *ngIf="price.invalid && (price.dirty || price.touched)">
                    <div class="alert alert-danger" *ngIf="price.errors?.['required']">Price is required.</div>
                    <div class="alert alert-danger" *ngIf="price.errors?.['pattern']">Please enter a valid price.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select [(ngModel)]="product.category" id="category" #category="ngModel" name="category" type="text"
                    class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let category of categories$" [value]="category">{{ category }}</option>
                </select>
            </div>
            <div *ngIf="category.invalid && (category.dirty || category.touched)">
                <div class="alert alert-danger" *ngIf="title.errors?.['required']">Category is required.</div>
            </div>
            <div class="form-group">
                <label for="imageURL">Image URL</label>
                <input [(ngModel)]="product.imageUrl" name="imageUrl" #imageURL="ngModel" type="text" id="imageURL"
                    class="form-control" required pattern="\bhttps?:\/\/\S+?\.(?:png|jpe?g|gif|bmp|webp)\b">
            </div>
            <div *ngIf="imageURL.invalid && (imageURL.dirty || imageURL.touched)">
                <div class="alert alert-danger" *ngIf="imageURL.errors?.['required']">Image URL is required.</div>
                <div class="alert alert-danger" *ngIf="imageURL.errors?.['pattern']">Invalid Image URL.</div>
            </div>
            <button class="btn btn-success" [disabled]="f.invalid">Save</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
            <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" *ngIf="price.valid" style="width: 18rem;">
            <img class="card-img-top" [src]="imageURL.value">
            <div class="card-body">
                <h5 class="card-title">{{ title.value }}</h5>
                <p class="card-text">{{ price.value | currency: 'USD': 'symbol' }}</p>
            </div>
        </div>
    </div>
</div>