<p>
    <a routerLink="/admin/products/new" routerLinkActive="active" class="btn btn-primary">New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ ! async">
            <td>
                <a [routerLink]="['/admin/products/', product.key]"> {{ product.title }}</a>
            </td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
        </tr>
    </tbody>
</table>